body {background: rgb(32, 30, 41);
margin: 0%;
top: 127px;
width: 100%;
}

header {background-color: rgb(32, 30, 41);
height: 79px;
display: block;
width: 100%;
padding: 1px;}

.navbar {background-color: aliceblue;
padding: 3px;
margin: 0px;
}

.button1 {font-size: 20px;
border-radius: 9px;
margin: 7px;
}

.button-align {text-align: center;
}

h1 {color:white; 
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-style: italic;
text-align: center;
font-weight: lighter;}

h2 {color: white;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-style:italic;
text-align: center;
font-weight: lighter;}

p {color: white;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-style: italic;
text-align: center;
font-weight: lighter;}

article {background-color: rgb(32, 30, 41);
margin: 0%;
height: 270px;
padding: 10px;
width: 100%;}

section {background-color: rgb(32, 30, 41);
padding: 5px;
width: 100%;
position: relative;
bottom: 50px;
top: 0px;}

.img1 {position: relative;
left: 660px}

footer{background-color: rgb(32, 30, 41);
height: 100px;
width: 100%;
padding: 1px;
}

.header a {color: white;
text-decoration: none;
}

.button1:hover{background-color:rgb(255, 255, 255)}

